/* General CSS  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* General CSS */

/* Header Section CSS Starts */

.banner {
    margin-top: 50px;
}

.football {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    animation: football-flick 10s linear infinite;
}

/* Animation for Medium Device */
@keyframes football-flick {
    0% {
        transform: translate(240px);
    }

    25% {
        transform: translate(1620px);
    }

    50% {
        transform: translate(1620px, 660px);
    }

    75% {
        transform: translate(240px, 660px);
    }

    100% {
        transform: translateX(240px);
    }
}

/* Animation for Medium Device */
.header-container {
    width: 70%;
    margin: 0 auto;
    background-color: #161616;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-details {
    width: 65%;
    color: white;
    padding: 0 106px 110px;
}

/* Animation for Sliding Texts and Changing Color */

@keyframes moveToLeft {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(200px);
    }


    100% {
        transform: translateX(0px);
    }
}


@keyframes color-changer {
    0% {
        color: #E45252;
    }

    25% {
        color: #E4405F;
    }

    50% {
        color: #DD0000;
    }

    100% {
        color: #E8E8E8;
    }

}

/* Animation for Sliding Text and Changing Color */

.header-details h1 {
    font-size: 70px;
    animation: moveToLeft 5s linear 10, color-changer 5s linear infinite;
}

.header-details p {
    margin-bottom: 60px;
}

.header-image {
    width: 100%;
    text-align: center;
}

.header-image img {
    width: 80%;
    height: 100%;
    margin-top: 33px;
    transition: transform 1s linear;
}

.header-image:hover img {
    transform: scale(.75);
}

.link-btn {
    border-radius: 5px;
    Padding: 16px 25px;
    background-color: #DD0000;
    text-decoration: none;
    color: white;
}

.link-btn i {
    margin-left: 20px;
}

/* Header Section CSS Ends */

/* Blog Section CSS Starts */
.blog-container {
    width: 70%;
    margin: 130px auto;
}

.blog-section {
    display: flex;
}

.side-navbar {
    width: 460px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #161616;
    border-radius: 10px;
    margin-right: 20px;
}

.side-navbar a {
    Padding: 20px 15px;
    background-color: white;
    text-decoration: none;
    color: #161616;
    margin: 20px 40px;
    text-align: center;
    border-radius: 10px;
}

.side-navbar a:last-child {
    background-color: #DD0000;
    color: white;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.blog {
    /* width: 95%; */
    margin: 0 auto;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-img img {
    width: 100%;
}

.blog-details {
    padding: 20px 15px;
    margin-top: 20px;
}

.blog-details a {
    text-decoration: none;
    padding: 5px 16px;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 10px;
}

.blog-details a:hover {
    color: #E8E8E8;
    background-color: #161616;
}

.blog-details span {
    margin-right: 35px;
    color: #161616;
    opacity: 70%;
}

.blog-details span>i {
    margin-right: 10px;
}

/* Blog Section CSS Ends */

/* Button for Tablet Version CSS */

.tablet-btn {
    display: none;
}

/* Button for Tablet Version CSS */

/* Footer Section CSS Starts */
.footer {
    background-color: #161616;
    color: #E8E8E8;
    text-align: center;
    padding: 100px;
}

.footer h2 {
    font-size: 40px;
    margin: 50px;
}

#line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}

.links {
    margin-bottom: 50px;
}

.links a {
    text-decoration: none;
    color: #B9B9B9;
    margin-right: 5em;
    margin-top: 30px;
}

.social-links i {
    margin-right: 25px;
    font-size: 30px;
    color: lightslategray;
    transition: transform 500ms linear;
}

.social-links i:hover {
    transform: scale(1.5);
}

.fa-square-facebook:hover {
    color: #1877F2;
}

.fa-instagram:hover {
    color: #E4405F;
}

.fa-linkedin:hover {
    color: #0A66C2;
}

/* Footer Section CSS Ends */


/* Media Query Tag Declaration
Responsive CSS Tags for small devices like Mobile Phones */

@media screen and (max-width: 576px) {

    /* Header Section CSS Starts */
    .football {
        display: none;
    }

    .header-container {
        width: 90%;
        flex-direction: column;
    }

    .header-details {
        text-align: center;
        width: 90%;
        padding: 0 20px 50px;
    }

    .header-details h1 {
        font-size: 22px;
        margin-top: 28px;
        animation: none;
    }

    .header-image img {
        margin: 0 auto;
        transition: none;
    }

    .link-btn {
        Padding: 8px 12px;
    }

    /* Header Section CSS Ends */

    /* Blog Section CSS Starts */

    .blog-container {
        width: 90%;
        margin: 24px auto;
    }

    .blog-section {
        flex-direction: column;
    }

    .side-navbar {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-bottom: 24px;
    }

    .side-navbar a {
        Padding: 10px 15px;
        margin: 10px 15px;
        border: 1px solid #E8E8E8;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Blog Section CSS Ends */

    /* Footer Section CSS Starts */

    .footer {
        padding: 30px 10px;
    }

    .footer h2 {
        font-size: 22px;
        margin: 24px;
    }

    #line {
        /* width: 335px; */
        margin-bottom: 20px;
    }

    .links {
        margin-bottom: 20px;
    }

    .links a {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        font-size: 14px;
        margin-top: 30px;
    }

    .social-links h4 {
        color: #B9B9B9;
    }

    .social-links i {
        margin-right: 10px;
        font-size: 30px;
        color: lightslategray;
        transition: transform 500ms linear;
    }

    /* Footer Section CSS Ends */
}


/* Media Query Tag Declaration
Responsive CSS Tags for Medium Devices like Tablet, Ipad or others
*/

@media screen and (max-width: 992px) and (min-width: 577px) {
    .football {
        display: none;
    }

    .header-container {
        width: 90%;
    }

    .header-details {
        width: 100%;
        padding: 10px 10px 60px 50px;
    }

    .header-details h1 {
        font-size: 40px;
        animation: none;
    }

    .header-image img {
        width: 100%;
        margin-top: 55px;
        transition: none;
    }

    .link-btn {
        Padding: 10px 18px;
    }

    /* Blog Section CSS Starts */
    .blog-container {
        width: 90%;
        margin: 50px auto;
    }

    .blog-section {
        flex-direction: column;
    }

    .side-navbar {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: white;
    }

    .side-navbar a {
        Padding: 15px 20px;
        margin: 20px 10px;
        border: 1px solid #E8E8E8;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Blog Section CSS Ends */

    /* Button for Tablet Version CSS Starts */

    .tablet-btn {
        display: flex;
        justify-content: center;
        margin: 50px 10px;
    }

    /* Button for Tablet Version CSS Ends */

    /* Footer Section CSS Starts */

    .footer {
        padding: 20px;
    }

    .links {
        margin: 0 auto;
        text-align: center;
    }

    .links a {
        font-size: 16px;
        margin-right: 20px;
        padding: 20px 0;
    }

    /* Footer Section CSS Ends */
}


/* Media Query Tag Declaration
Responsive CSS Tags for Medium large devices like Medium Laptops or Medium Screens
 */
@media screen and (max-width: 1024px) and (min-width: 993px) {

    /* Header Section CSS Starts */
    .header-container {
        width: 90%;
    }

    /* Animation for Medium Device */
    @keyframes football-flick {
        0% {
            transform: translate(0px);
        }

        25% {
            transform: translate(970px);
        }

        50% {
            transform: translate(970px, 480px);
        }

        75% {
            transform: translateY(480px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    /* Animation for Medium Device */

    .header-details {
        width: 90%;
        padding: 10px 50px 70px 60px;
    }

    .header-details h1 {
        font-size: 45px;
    }

    /* Header Section CSS Ends */

    /* Blog Section CSS Starts */
    .blog-container {
        width: 88%;
        margin: 110px auto;
    }

    .side-navbar {
        width: 85%;
    }

    .blog-details span {
        margin-right: 18px;
    }

    /* Blog Section CSS Starts */

    /* Footer Section CSS Starts */
    .footer {
        padding: 20px;
    }

    .links a {
        margin-right: 2em;
    }

    /* Footer Section CSS Ends */
}

/* Media Query Tag Declaration
Responsive CSS Tags for Medium large devices like Medium Laptops or Medium Screens
 */
@media screen and (max-width: 1440px) and (min-width: 1050px) {

    /* Animation for Medium Device */
    @keyframes football-flick {
        0% {
            transform: translate(70px);
        }

        25% {
            transform: translate(1370px);
        }

        50% {
            transform: translate(1370px, 695px);
        }

        75% {
            transform: translateY(695px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    /* Animation for Medium Device */

    .header-container {
        width: 90%;
    }

    .header-details {
        width: 90%;
        color: white;
        padding: 20px 20px 80px 70px;
    }

    .header-details h1 {
        font-size: 70px;
    }

    .header-details p {
        margin-bottom: 60px;
    }

    .header-image img {
        width: 90%;
        height: 100%;
        margin-top: 40px;
        transition: transform 1s linear;
    }

    .blog-container {
        width: 90%;
    }

}